*.rar filter=lfs diff=lfs merge=lfs -text
b947688380722a9afe405eb9c63026b2.rar filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
b947688380722a9afe405eb9c63026b2.zip filter=lfs diff=lfs merge=lfs -text
